<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Empty Suit is about my journey throughout this pursuit to learn, create, explore and do.  My goal is to take everything I learn from web development and design and incorporate it back into this site, in addition to writing about the side projects I become involved with and the people I meet along the way.  I hope to use this blog as a means to capture my passions, my struggles and my victories.  Hopefully my story will be heard and inspire those also looking to “make it happen”.  
</p>
<p>
"This is your life, do what you love, and do it often”
<a href="www.holstee.com">-Holstee</a>
<p>
