<% provide(:title, 'Contact') %>
<div class="page-wrapper">
	<div class="container">
		<h1>Contact</h1>
		<p>Suggestions? Feedback? Contact me @thisemptysuit</p>
		<%= render 'shared/google_analytics' %>
	</div>
</div>
