			<% if signed_in? %>
			<div class="row">
				<aside class="span4">
					<section>

						<div class="page-wrapper">
							<%= render 'shared/micropost_form' %>
						</div>
					</section>
				</aside>
			</div>
		<% else %>
		<div class="header">
			<div class="header-in">
				<center>
				<div>	
				<div "parent-test">
					<div class="test">
						<%= image_tag("emptysuit2.png", alt: "logo") %>
						<h1 class="tagline">From an empty suit to a full pursuit</h1>
						<div class="read">
							<a href="#read">Suit Down</a>
						</div>
					</div>
				</div>
			</div>
				</center>
			</div>
		</div>
		<div class="container">
			<h3>About</h3>
			<p class="content">EmptySuit is about my journey throughout a pursuit to learn, create, explore and do.  My goal is to share what I learn from web development in addition to writing about side projects I become involved with and the people I meet along the way.</p>
		</div>
			<div><a name="read"></a>
				<div class="container">
					<div class="span8">
					      <%= render 'shared/feed' %>
				    </div>
	    		</div>
			</div>
		<% end %>




