<% provide(:title, 'Resources') %>
<div class="page-wrapper">
	<div class="container">
		<h1>Resources</h1>
		<h4>Code Resources</h4>
		<p>From my experience I recommend trying these resources from top to bottom</p>
		<ul>
			<li><a href="https://www.codeacademy.com/" target="_blank">Code Academy</a></li>
			<li><a href="https://www.prework.flatironschool.com/" target="_blank">Flatironschool Prework</a></li>
			<li><a href="https://onemonthrails.com/" target="_blank">One Month Rails</a></li>
			<li><a href="https://www.railsforzombies.org/" target="_blank">Rails for Zombies</a></li>
			<li><a href="https://www.codeschool.com/" target="_blank">Code School</a></li>
			<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">Ruby on Rails Tutorial</a> by Michael Hartl</li>
			<li><a href="https://www.coursera.org/" target="_blank">Coursera</a></li>
			<li><a href="https://www.edexonline.org/" target="_blank">Edx.org</a></li>
			<li><a href="https://www.railscast.com/" target="_blank">Railscasts</a></li>
			<li><a href="https://www.hackhands.com/" target="_blank">HackHands</a></li>
			<li><a href="https://www.rubular.com/" target="_blank">Rubular</a> (Regular Expressions)</li>
		</ul>

		<h4>Events</h4>
		<ul>
			<li><a href="http://nytm.org/" target="_blank">NY Tech Meetup</a></li>
			<li><a href="http://ventureoutny.com/" target="_blank">Venture Out NY</a></li>
			<li><a href="http://pechakucha.org/" target="_blank">PechuKucha</a></li>
			<li><a href="http://www.meetup.com/codecrewny/" target="_blank">CodeCrew</a></li>
			<li><a href="http://www.meetup.com/testtube//" target="_blank">The Test Tube</a></li>
		</ul>
		<h4>Books</h4>
		<ul>
			<li><a href="http://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/0307887898/ref=sr_1_1?s=books&ie=UTF8&qid=1381629467&sr=1-1&keywords=the+lean+startup" target="_blank">The Lean Startup</a> by Eric Ries</li>
			<li><a href="http://www.amazon.com/Four-Steps-Epiphany-Steve-Blank/dp/0989200507" target="_blank">The Four Steps to the Epiphany</a> by Steve Blank</li>
			<li><a href="http://www.amazon.com/Rainforest-Secret-Building-Silicon-Valley/dp/0615586724/ref=sr_1_1?s=books&ie=UTF8&qid=1381629179&sr=1-1&keywords=building+the+next+silicon+valley" target="_blank">The Rainforest: The Secret to Building the Next Silicon Valley</a> by Victor Hwang and Greg Horowitt</li>
		</ul>
		<h4>Inspiration</h4>
		<ul>
			<li><a href="https://www.findingjoethemovie.com/" target="_blank">Finding Joe</a></li>
			<li><a href="https://www.holstee.com/" target="_blank">Holstee Manifesto</a></li>
		</ul>
		<%= render 'shared/google_analytics' %>
	</div>
</div>

