<li id="<%= feed_item.id %>">
  <h3><span class="content"><%= feed_item.title %></span></h3>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>